doctype html
html
    head
        link(rel='stylesheet', href='/accounts/css/styles.min.css')
        script(src = '/accounts/js/libs/libs.min.js')
        script(src = '/accounts/js/bundle.min.js')
    body
        header
            h1 JM Micro Services Boiler Plate
        .container
            .main-content
                block content
        footer
            p Signin App