extend index
block content
	nav
		a.logout(href='/auth/logout')
			div logout
	header
		h1 JM Micro Services Boiler Plate
		.container
			.main-content
				a(href='/')
					p Click here to view #{account.googleName} your content
				p
					| Admin App content