doctype html
html
    head
        link(rel='stylesheet', href='/admin/css/styles.min.css')
        script(src = '/admin/js/libs/libs.min.js')
        script(src = '/admin/js/bundle.min.js')
    body
        block content
        footer
            p Admin App