extend index

block content
	header
		h1 JM Micro Services Boiler Plate
		.container
			.main-content
				a.login(href='/auth/google')
					img.googleSignin(src='/assets/googleSignin.png', alt='Google sign in')