doctype html
html
    head
        link(rel='stylesheet', href='/admin/css/styles.min.css')
        script(src = '/admin/js/libs/libs.min.js')
        script(src = '/admin/js/bundle.min.js')
    body
        nav
            a.logout.hideElement(href='/api/logout')
                div logout
        header
            h1 JM Micro Services Boiler Plate
        .container
            .main-content
                block content
        footer
            p Admin App